<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='博客后台管理登陆',active='',bigactive=''">

<header th:replace="admin/link :: link(${title})"></header>

	<body class="login-layout blur-login">
		<div class="main-container">
			<div class="main-content">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="login-container">
							<div class="center">
								<h1>
									<span class="white">博客后台管理登陆系统</span>
								</h1>
							</div>

							<div class="space-6"></div>

							<div class="position-relative">
								<div id="login-box" class="login-box visible widget-box no-border">
									<div class="widget-body">
										<div class="widget-main">
											<h4 class="header blue lighter bigger">
												<i class="ace-icon fa fa-coffee green"></i>
												管理登陆
											</h4>

											<div class="space-6"></div>

											<form th:action="@{/admin/loginuser}" method="post" id="loginForm">
												<fieldset>
													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input th:name="username" type="text" class="form-control" placeholder="用户名" />
															<i class="ace-icon fa fa-user"></i>
														</span>
													</label>

													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input th:name="password" type="password" class="form-control" placeholder="密码" />
															<i class="ace-icon fa fa-lock"></i>
														</span>
													</label>

													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input th:name="vcode" type="password" class="form-control" placeholder="验证码" />
														</span>
													</label>
													
													<img th:src="@{/admin/loginVcode}" id="vcode" alt="换一张" onclick="flushCode();">

													<div class="space"></div>

													<div class="clearfix">
														<label class="inline">
															<input type="checkbox" class="ace" />
															<span class="lbl"> 记住我</span>
														</label>

														<button type="button" class="width-35 pull-right btn btn-sm btn-primary" onclick="submitForm();">
															<i class="ace-icon fa fa-key"></i>
															<span class="bigger-110">登录</span>
														</button>
													</div>

													<div class="space-4"></div>
												</fieldset>
											</form>

										</div><!-- /.widget-main -->

									</div><!-- /.widget-body -->
								</div><!-- /.login-box -->

							</div><!-- /.position-relative -->

						</div>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<script type="text/javascript">
            function flushCode(){
                var time = new Date();
                document.getElementById("vcode").src = "/admin/loginVcode?time=" + time;
            }

            function submitForm() {
                var username = $('#loginForm input[name=username]').val();
                if ($.trim(username) == '' && username == '') {
                    alert("用户名不能为空");
                    return;
                }
                var password = $('#loginForm input[name=password]').val();
                if ($.trim(password) == '' && password == '') {
                    alert("密码不能为空");
                    return;
                }
                var vcode = $('#loginForm input[name=vcode]').val();
                if ($.trim(vcode) == '' && vcode == '') {
                    alert("验证码不能为空");
                    return;
                }

                $.ajax({
					url:'/admin/loginuser',
					async:false,
					type:'POST',
					dataType:'text',
					data:{
					    username:username,
						password:password,
						vcode:vcode
					},
                    success:function(data) {
                        if(data=='success') {
                            window.location.href = "/admin/index";
                        }else{
                            alert(data);
                        }
                    }
				})
            }
		</script>

		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='/assets/js/jquery.min.js'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
		<script type="text/javascript">
		 window.jQuery || document.write("<script src='assets/js/jquery1x.min.js'>"+"<"+"/script>");
		</script>
		<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>

		<!-- inline scripts related to this page -->
		<script type="text/javascript">
			jQuery(function($) {
			 $(document).on('click', '.toolbar a[data-target]', function(e) {
				e.preventDefault();
				var target = $(this).data('target');
				$('.widget-box.visible').removeClass('visible');//hide others
				$(target).addClass('visible');//show target
			 });
			});

		</script>
	</body>
</html>
